<div
  class="container flex flex-wrap justify-between items-center mx-auto bg-white rounded-md w-full text-gray-800"
>
  <div
    class="text-center border-dashed border-2 border-slate-200 dark:border-slate-100 rounded-md w-full p-20"
  >
    <i class="bx bxs-contact bx-lg mb-5 dark:text-white"></i>
    <p class="text-xl mb-2 uppercase font-bold dark:text-gray-400">No Notes</p>
    <span class="text-m text-slate-400 block mb-10 dark:text-gray-400"
      >Get started by creating a new Note</span
    >
    <button
      (click)="goToEditor()"
      class="bg-blue-400 rounded-full px-5 py-3 text-white hover:bg-blue-500 w-52"
    >
      Create
    </button>
  </div>
</div>
