<div class="bg-white pt-4 pr-8 pb-4 pl-8 shadow-sm">
  <nav class="w-full">
    <div
      class="flex w-full justify-between max-w-screen-2xl md:flex-row mt-auto mr-auto mb-auto ml-auto"
    >
      <div
        class="flex flex-row bg-white justify-between items-center mt-2 mb-2 md:m-0 hidden md:flex"
      >
        <a
          routerLink="/"
          fontfamily="Raleway"
          class="text-gray-600 text-center mr-6 font-medium text-base hover:text-gray-800"
          >Home</a
        >
        @if (isAuthenticated()) {
        <a
          routerLink="/view"
          fontfamily="Raleway"
          class="text-gray-600 text-center mr-6 font-medium text-base hover:text-gray-800"
          >View</a
        >
        <a
          routerLink="/editor"
          fontfamily="Raleway"
          class="text-gray-600 text-center font-medium text-base hover:text-gray-800"
          >Create</a
        >
        } @else {
        <a
          fontfamily="Raleway"
          class="text-gray-400 text-center mr-6 font-medium text-base cursor-default"
          >View🔒</a
        >
        <a
          fontfamily="Raleway"
          class="text-gray-400 text-center font-medium text-base cursor-default"
          >Create🔒</a
        >
        }
      </div>
      <a id="header-logo-a" routerLink="/">
        <div
          id="header-logo-div"
          class="bg-white flex-row flex items-center justify-center order-first md:order-none"
        >
          <img src="assets/img/header-logo.png" class="w-12 md:w-16" />
        </div>
      </a>
      <div
        class="flex justify-center items-center md:justify-start hidden md:flex"
      >
        @if (isAuthenticated()) {
        <div class="ml-4 flex items-center md:ml-6">
          <div class="ml-3 relative">
            <button
              class="flex items-center bg-white rounded-full hover:shadow-sm transition duration-300 focus:outline-none"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
              (click)="toggleModal()"
            >
              <img
                class="h-12 w-12 rounded-full m-2"
                src="assets/img/user-icon.png"
                alt="User Avatar"
              />
              <span class="text-sm font-medium text-gray-800 mr-4">{{
                userData()?.name
              }}</span>
            </button>

            <!-- Dropdown menu, show/hide based on menu state. -->
            <div
              class="origin-top-right top-5 absolute -right-2 mt-12 w-36 rounded-md py-1 bg-white ring- animate-in slide-in-from-top-2"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              id="user-menu"
              *ngIf="showModal"
            >
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                role="menuitem"
                (click)="authService.logout()"
                >Sign out</a
              >
            </div>
          </div>
        </div>
        } @else {
        <button
          fontfamily="Arial"
          class="h-9 w-24 text-gray-600 bg-white border-2 border-white flex items-center justify-center text-center rounded-lg text-lg font-normal mr-6"
          (click)="authService.login()"
        >
          Sign in
        </button>
        <button
          fontfamily="Arial"
          class="h-9 w-24 text-white bg-blue-700 hover:bg-blue-900 hover:border-blue-900 border-2 flex items-center justify-center text-center border-blue-700 rounded-lg text-lg font-normal mr-auto"
          (click)="authService.register()"
        >
          Sign up
        </button>
        }
      </div>
      <div class="md:hidden flex items-center" (click)="toggleMobileMenu()">
        <div class="outline-none mobile-menu-button">
          <svg
            id="Windframe_rA1kdiC5w8Y"
            fill="none"
            strokelinecap="round"
            strokewidth="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6 text-gray-500 hover:text-green-500"
          >
            <path id="Windframe_ohec53t6-8G" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="md:hidden mobile-menu" *ngIf="showMobileMenu">
      <div>
        <div class="flex flex-col">
          <a
            routerLink=""
            fontfamily="Raleway"
            class="text-gray-600 text-center mt-2 font-medium text-base shadow-sm p-2 cursor-pointer hover:text-slate-800"
            >Home</a
          >
          @if (isAuthenticated()) {
          <a
            routerLink="view"
            fontfamily="Raleway"
            class="text-gray-600 text-center mt-2 font-medium text-base shadow-sm p-2 cursor-pointer hover:text-slate-800"
            >View</a
          >
          <a
            routerLink="editor"
            fontfamily="Raleway"
            class="text-gray-600 text-center mt-2 font-medium text-base shadow-sm p-2 cursor-pointer hover:text-slate-800"
            >Create</a
          >
          } @else {

          <a
            fontfamily="Arial"
            class="text-gray-600 text-center mt-2 font-medium text-base shadow-sm p-2 cursor-pointer hover:text-slate-800"
            (click)="authService.login()"
          >
            Sign in
          </a>
          <a
            fontfamily="Arial"
            class="text-gray-600 text-center mt-2 font-medium text-base shadow-sm p-2 cursor-pointer hover:text-slate-800"
            (click)="authService.logout()"
          >
            Sign up
          </a>
          }
        </div>
      </div>
    </div>
  </nav>
</div>
