@if (showToolbar) {
<app-note-toolbar [isEditor]="true" [note]="note"></app-note-toolbar>

}
<div
  class="mx-auto w-full max-w-full p-10 animate-in fade-in-0 duration-1000 slide-in-from-top-1"
>
  <div class="mb-5">
    <label
      for="note-title"
      class="mb-3 block text-base font-medium text-[#07074D]"
    >
      Title
    </label>
    <input
      required
      type="text"
      [(ngModel)]="title"
      (input)="validateInput($event)"
      name="note-title"
      id="note-title"
      placeholder="Enter your Title..."
      min="0"
      class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
    />
  </div>

  <angular-editor
    name="editor"
    class="h-screen"
    [placeholder]="'Enter text here...'"
    [(ngModel)]="htmlContent"
    [config]="editorConfig"
  ></angular-editor>
  @if (isNoteEditMode) {
  <div>
    <button
      (click)="saveNote()"
      class="hover:shadow-form w-full rounded-md bg-green-500 py-3 px-8 text-center text-base font-semibold text-white outline-none"
    >
      Save
    </button>
  </div>
  } @else {
  <div>
    <button
      (click)="createNote()"
      class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
    >
      Submit
    </button>
  </div>
  }
</div>
