<article class="overflow-hidden rounded-lg shadow-lg">
  <a [routerLink]="noteUrl">
    <img
      alt="Placeholder"
      class="block h-auto w-full"
      src="assets/img/note-icon.jpg"
    />
  </a>

  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
    <h1 class="text-lg">
      <a class="no-underline hover:underline text-black" href="#">
        {{ getTitle() }}
      </a>
    </h1>
    <p class="text-grey-darker text-sm">{{ getTimePassed() }}</p>
  </header>

  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
    <a class="flex items-center no-underline text-black cursor-default">
      <img
        alt="Placeholder"
        class="block rounded-full"
        src="/assets/img/small-icon-2.png"
      />
      <p class="ml-2 text-sm">{{ note?.user }}</p>
    </a>
    <a
      (click)="openNote()"
      class="no-underline text-grey-darker hover:text-red-dark cursor-pointer"
    >
      <span class="hidden">Edit</span>
      <i class="fa-regular fa-pen-to-square"></i>
    </a>
  </footer>
</article>
