article {
  -webkit-box-shadow: rgba(71, 71, 71, 0.43) -4px -2px 11px 2px;
  -moz-box-shadow: rgba(71, 71, 71, 0.43) -4px -2px 11px 2px;
  box-shadow: rgba(71, 71, 71, 0.43) -4px -2px 11px 2px;
}

article:hover {
  transform: scale(1.01);
  transition-duration: 0.1s;
}
